constraints: Cabal ==1.18.1.3,
             Decimal ==0.4.1,
             HUnit ==1.2.5.2,
             MonadCatchIO-transformers ==0.3.1.1,
             MonadRandom ==0.1.13,
             SHA ==1.6.4.1,
             acid-state ==0.12.2,
             aeson ==0.7.0.6,
             array ==0.5.0.0,
             attoparsec ==0.12.1.0,
             attoparsec-enumerator ==0.3.3,
             base ==4.7.0.0,
             base64-bytestring ==1.0.0.1,
             bifunctors ==4.1.1.1,
             bin-package-db ==0.0.0.0,
             binary ==0.7.1.0,
             blaze-builder ==0.3.3.2,
             blaze-builder-enumerator ==0.2.0.6,
             blaze-html ==0.7.0.2,
             blaze-markup ==0.6.1.0,
             byteable ==0.1.1,
             bytestring ==0.10.4.0,
             bytestring-mmap ==0.2.2,
             case-insensitive ==1.2.0.0,
             cereal ==0.4.0.1,
             cipher-aes ==0.2.7,
             clientsession ==0.9.0.3,
             comonad ==4.2,
             configurator ==0.2.0.2,
             containers ==0.5.5.1,
             contravariant ==0.6,
             cprng-aes ==0.5.2,
             crypto-api ==0.13,
             crypto-cipher-types ==0.0.9,
             crypto-random ==0.0.7,
             cryptohash ==0.11.6,
             deepseq ==1.3.0.2,
             digestive-functors ==0.7.1.1,
             digestive-functors-heist ==0.8.5.0,
             digestive-functors-snap ==0.6.1.0,
             directory ==1.2.1.0,
             directory-tree ==0.11.0,
             distributive ==0.4.4,
             dlist ==0.7.0.1,
             either ==4.3.0.1,
             entropy ==0.3.2,
             enumerator ==0.4.20,
             errors ==1.4.7,
             exceptions ==0.6.1,
             extensible-exceptions ==0.1.1.4,
             filepath ==1.3.0.2,
             free ==4.9,
             ghc ==7.8.2,
             ghc-mtl ==1.2.1.0,
             ghc-paths ==0.1.0.9,
             ghc-prim ==0.3.1.0,
             hashable ==1.2.2.0,
             heist ==0.13.1.2,
             hint ==0.4.2.0,
             hoopl ==3.10.0.1,
             hpc ==0.6.0.1,
             integer-gmp ==0.5.1.0,
             lens ==4.1.2.1,
             logict ==0.6.0.2,
             monad-control ==0.3.3.0,
             monads-tf ==0.1.0.2,
             mouser-match ==0.1,
             mtl ==2.1.3.1,
             mwc-random ==0.13.1.2,
             nats ==0.2,
             network ==2.5.0.0,
             old-locale ==1.0.0.6,
             old-time ==1.1.0.2,
             parallel ==3.2.0.4,
             parsec ==3.1.5,
             prelude-extras ==0.4,
             pretty ==1.1.1.1,
             primitive ==0.5.3.0,
             process ==1.2.0.0,
             profunctors ==4.0.4,
             pwstore-fast ==2.4.1,
             random ==1.0.1.1,
             reflection ==1.4,
             regex-base ==0.93.2,
             regex-posix ==0.95.2,
             rts ==1.0,
             safe ==0.3.4,
             safecopy ==0.8.3,
             scientific ==0.3.2.1,
             securemem ==0.1.3,
             semigroupoids ==4.0.2.1,
             semigroups ==0.15,
             skein ==1.0.9,
             snap ==0.13.2.7,
             snap-core ==0.9.6.3,
             snap-loader-dynamic ==0.10.0.2,
             snap-loader-static ==0.9.0.2,
             snap-server ==0.9.4.5,
             snaplet-acid-state ==0.2.6.1,
             split ==0.2.2,
             stm ==2.4.3,
             syb ==0.4.2,
             tagged ==0.7.2,
             template-haskell ==2.9.0.0,
             text ==1.1.1.3,
             time ==1.4.2,
             transformers ==0.3.0.0,
             transformers-base ==0.4.2,
             transformers-compat ==0.3.3.3,
             unix ==2.7.0.1,
             unix-compat ==0.4.1.3,
             unordered-containers ==0.2.4.0,
             utf8-string ==0.3.8,
             validations ==0.1.0.2,
             vector ==0.10.11.0,
             vector-algorithms ==0.6.0.1,
             void ==0.6.1,
             xmlhtml ==0.2.3.2,
             zlib ==0.5.4.1,
             zlib-bindings ==0.1.1.5,
             zlib-enum ==0.2.3.1
